<div class="about_desc">		
  <div class="wrap">		 
    <div class="about-topgrid1">
      <h3>@("Who We Are".Label())</h3>
      <img src="@Url.FrontUrl().FileUrl("images/welcome_img1.jpg")" title="name" alt="" />
      @Html.FrontHtml().RenderHtmlBlock("WhoWeAre")  
    </div>
    <a href="//gb.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>    
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    @*<div class="about-services">
      @Html.FrontHtml().RenderHtmlBlock("OurServices")
      
      
      <ul>
        @foreach (var item in ViewBag.Services_List){
        <li><a href="@Url.FrontUrl().PageUrl("Services/Detail",new{UserKey = item.UserKey})">@item.Title</a></li>
        }}
        
      </ul>
    </div>*@
    <div class="about-histore">
      @Html.FrontHtml().RenderHtmlBlock("Our_History")
    </div>
    <div class="clear"> </div>
  </div>
</div>