<!DOCTYPE HTML>
<html>
<head>
  @{
  if(Html.FrontHtml().HtmlTitle().ToString()==""){
 <title>Dream Live Website Template | Home :: W3layouts</title>
  }else{
  @Html.FrontHtml().HtmlTitle()
  }
  }
@Html.FrontHtml().Meta()
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
@Html.FrontHtml().RegisterStyles() 
@Html.FrontHtml().RegisterScripts() 
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    <meta name="description" content="Fallon's Bar &amp; Brasserie, Newcastle-Under-Lyme, Staffs. The home of modern &amp; continental cuisine with musical entertainment.">
    <meta name="google-site-verification" content="qhoL_iT4Gv_Df9pNIf0N7W_Dbzxe8rXoseaIgVgkDfM" />
    <meta name="google-site-verification" content="3g/Ru+V0HPhZXbIwoXam94UELODomGaWXAdiC30rzQA=" />
    <meta name="google-site-verification" content="qhoL_iT4Gv_Df9pNIf0N7W_Dbzxe8rXoseaIgVgkDfM" />
    <meta name="msvalidate.01" content="EF037E31B2F7696799FF5C3A29A61E17" />
    <meta name="majestic-site-verification" content="MJ12_c73a2dfa-5ab7-44f9-b6e6-0fc7d6bab1e1">
    <meta name="majestic-site-verification" content="MJ12_2291a5a0-2d1e-4227-961c-843738085c8c">
    <meta name="p:domain_verify" content="a2648600466c5aeb8ddabfa716542fe0" />
    <link rel="shortcut icon" href="/Images/WineBottle.ico" type="image/x-icon" />
 </head>
<body>
	<!----start-header----->
    <h1>
        Fallon's Bar &amp; Brasserie
    </h1>
	 <div class="header">
     @Html.FrontHtml().RenderView("Header")
	</div>
   <!----End-header----->
	       <!------ Slider ------------>
	    <div class="slider">
       @Html.FrontHtml().Position("Home_Slider")
   	    </div>
		<!------End Slider ------------>
		 <!---start-content---->
		 @Html.FrontHtml().Position("Main")
		 <!---End-content---->
		 <!---start-footer---->
		  <div class="footer">
		   @Html.FrontHtml().RenderView("Footer")
	     </div>
        <style type="text/css">
            DIV.mylink {
                text-align: center;
            }
        </style>
        <div class="mylink">
            <a href="http://www.fallonsbar.co.uk/" title="Fallons Bar & Brasserie" target="_blank">Link to 'Fallons Bar &amp; Brasserie' old website</a>
        </div>
	    <div class="copy-right">
	    @Html.FrontHtml().RenderView("Copy_Right")	
	    </div>
		 <!---End-footer---->
	</body>
</html>
